:root{
    --destaque: #003146;
    --detalhes_menores: #50e3c2;
    --primario: #0096d6;
    --secundaro: #a4e4f9;
    --bordas_linhas: #000000;
    --fundo: #f8f9fa;
    --cabecalho: #f8f9fa00;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: arial;
}
a{
    text-decoration: none;
    color: white;
}

.header{
    background: linear-gradient(90deg, rgba(93,224,230,1) 0%, rgba(0,74,173,1) 50%), rgba(0,7,193,1) 100%);
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* quebra linha quando a tela for piquena */
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 20px;
}

.menu li a{
    display: block; /* ocupa automaticamente toda a largura disponível no contêiner pai */
    padding: 10px;
}
